.cyber-toolbar {
    background-color: #000;
    color: #f00;
  }
  
  .cyber-accent {
    background-color: #000;
    color: #f00;
    border: 1px solid #f00;
  }
  
  .cyber-button {
    background-color: #f00;
    color: #fff;
  }
  
  .cyber-toast {
    background-color: #f00;
    color: #fff;
  }
  
  .cyber-loading {
    --spinner-color: #f00;
    color: #f00;
  }
  